<h2>Players</h2>
<div class="row g-3">
  <% for (let player of players) { %>

  <div class="col-4">
    <div class="card p-1">
      <h5 class="card-title">
        <%= player.first_name + ' ' + player.last_name %>
      </h5>
      <div class="card-text">
        <div><%= 'age:' + player.age %></div>
        <div><%= 'gender:' + player.gender %></div>
        <div><%= 'height:' + player.height %></div>
        <div><%= 'weight:' + player.weight %></div>
        <div><%= 'CA:' + player.CA %></div>
        <div><%= 'PA:' + player.PA %></div>

        <div>
          <a
            class="btn btn-outline-primary"
            href="<%= '/players/' + player.player_id + '/edit' %>"
            >Edit</a
          >
          <a
            class="btn btn-outline-danger"
            href="<%= '/players/' + player.player_id + '/delete' %>"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>

  <% } %> <%- include("./pagination.ejs", { currentPage, lastPage }) %>
</div>
