<!DOCTYPE html>
<html>
  <%- include("../templates/head.ejs") %>
  <body>
    <%- include("../templates/navBar.ejs") %>

    <div class="container">
      <h1>Edit Player</h1>

      <% if (msg) { %>
      <div class="alert alert-primary"><%= msg %></div>
      <% } %> <%- include("../components/formEditPlayer.ejs", { player }) %> <%-
      include("../components/positionList.ejs", { player, positions }) %>
    </div>

    <%- include("../templates/footer.ejs") %>
  </body>
</html>
